*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:600px) {
    .nav-bar{
        flex-direction: column;
        margin: 5px;
    }
    header ul{
        flex-direction: column;
        gap: 5px;
    }
    .popular-tour{
        flex-direction: column;
        gap: 10px;
        padding:5px;
        margin: 0;
    }
    .tour-details{
        width: 100%;
    }
    .popular-tour img{
        width: 100%;
    }
    .tour-country{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    /* why choose us section */
    .services{
        flex-direction: column;
    }
    .hotels, .worlds, .best-price{
        padding: 5px;
        width: 100%;
        margin: 10px;
    }
/* news latter and discount section */
    .news-latter{
        flex-direction: column;
        width: 70%;
        margin: 10px;
        padding: 5px;
    }
    .latter input{
        width: 200px;
        padding: 5px;
    }
    .subscribe{
        width: 200px;
        padding: 5px;
    }
    .latter{
        width: 455px;
        /* margin: 0;
        padding: 0; */
    }
    .latter p{
        padding: 5px;
    }
    .news-banner img{
        width: 70%;
    }
    
}