*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:600px) {
    .nav-bar{
        flex-direction: column;
        margin: 5px;
    }
    header ul{
        flex-direction: column;
        gap: 5px;
    }
    .popular-tour{
        flex-direction: column;
        gap: 20px;
        padding:10px;
        margin: 0;
    }
    .tour-details{
        width: 100%;
    }
    .image{
        width: 100%;
    }
}