* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}
.main-body {
  max-width: 1200px;
  margin: 0 auto;
}
/* nav section styles */
.unique-travel {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 50px;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
  cursor: pointer;
}
header a:hover {
  color: #ff5400;
}
.home-color {
  color: #ff5400;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.unique {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.travel {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
/* banner section styles */
.banner-section {
  background: url("..//Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 600px;
  margin-top: 50px;
  position: relative;
  width: 100%;
}
.banner-section input {
  display: flex;
}
.banner-content {
  text-align: center;
}
.explore {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 106px;
  padding-bottom: 24px;
}
.banner-section p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 48px;
}
.options {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.options input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  border: 0;
  padding: 1rem;
}
.select-icon {
  position: relative;
}
.select-icon i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.find-btn input {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  justify-items: center;
  justify-content: center;
}
.find-btn {
  position: relative;
}
.find-btn i {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.4rem;
  color: #fff;
}
/* main section styles start here */
.popular-tour {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.tours-details h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 40px;
}
.tours-details ul,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.tours-details li {
  margin-left: 30px;
  padding-top: 24px;
}
.tours-details p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
}
.btn-1 {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  border: none;
  margin-top: 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.btn-1:hover {
  cursor: pointer;
}

/* destination section */
.destination h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}
.destination p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 24px;
  margin-bottom: 48px;
}
.tour-country {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.tour-country img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
#maldives {
  grid-column: 1/7;
  position: relative;
}
#indonesia {
  grid-column: 7/13;
  position: relative;
}
#srilanka {
  grid-column: 1/4;
  position: relative;
}
#north-america {
  grid-column: 4/10;
  position: relative;
}
#kashmir {
  grid-column: 10/13;
  position: relative;
}
#bangladesh {
  grid-column: 1/6;
  position: relative;
}
#bandarban {
  grid-column: 6/13;
  position: relative;
}
/* place names show */
.similar {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
/* why choose us section */
.chooses-us h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  padding-bottom: 24px;
}
.chooses-us .choose-detail {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
}
.services {
  display: flex;
  gap: 24px;
  /* flex-direction: column; */
}
.hotels {
  border: 1px solid rgba(251, 181, 99, 0.2);
  width: 50%;
  height: 284px;
  border-radius: 16px;
  padding: 32px;
  background: rgba(251, 181, 99, 0.05);
}
.worlds {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  width: 50%;
  height: 284px;
  padding: 32px;
}

.best-price {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
  margin: 24px auto 0px auto;
  height: 284px;
  padding: 32px;
}
.same-margin {
  margin-top: 1.4rem;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 1rem;
}
/* news latter section styles */
.news-latter {
  display: flex;
  gap: 1.5rem;
  margin-top: 100px;
  margin-bottom: 100px;
}
.latter {
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 474px;
  height: 422px;
  padding: 2.5rem;
}
.latter h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
  margin-bottom: 1rem;
}
.latter p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.latter input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 393px;
  height: 52px;
  margin-top: 1rem;
  border: #fff;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}
.subscribe {
  width: 393px;
  height: 52px;
  margin-top: 1.5rem;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.subscribe:hover {
  cursor: progress;
}
.news-banner {
  position: relative;
  /* border: 2px solid tomato; */
  border-radius: 16px;
  width: 672px;
  height: 422px;
}
.save-up {
  position: absolute;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  bottom: 13%;
  left: 50%;
}
.save-up p {
  /* transform: rotate(-19.628deg); */
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-top: 1.5rem;
}
.save-up h4 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
/* footer section styles */
footer {
  background: rgba(19, 19, 24, 0.05);
}
.logo-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}
.logo-footer .last-title {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
.some-details {
  text-align: center;
  margin-top: 15px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.logo-footer .last-color {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}
.last-icons {
  font-size: 2rem;
  margin-top: 33px;
  padding-bottom: 50px;
  text-align: center;
}
hr {
  width: 872px;
  height: 1px;
  margin: 0 auto;
  margin-top: 3.15rem;
}
#small {
  text-align: center;
  padding-bottom: 110px;
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}
